name: Build IPAVIET App

on:
  workflow_dispatch:

jobs:
  build:
    name: Build iOS App
    runs-on: macos-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Xcode Version
        run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer

      - name: Build and Package
        run: |
          # 1. Ép Build không cần chứng chỉ Apple
          xcodebuild clean build \
            -project ios-pwa-wrap.xcodeproj \
            -scheme ios-pwa-wrap \
            -configuration Release \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            SYMROOT=$PWD/build

          # 2. Đóng gói thành file IPA
          mkdir -p Payload
          mv build/Release-iphoneos/*.app Payload/
          zip -r IPAVIET_Store.ipa Payload

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: IPAVIET_App_V1
          path: IPAVIET_Store.ipa
